[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 16.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 16.0

[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 16.0

[submodule "OCA/account-payment"]
	path = OCA/account-payment
	url = git@github.com:OCA/account-payment.git
	branch = 16.0

[submodule "OCA/intrastat-extrastat"]
	path = OCA/intrastat-extrastat
	url = git@github.com:OCA/intrastat-extrastat.git
	branch = 16.0

[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 16.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 16.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 16.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 16.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 16.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 16.0

[submodule "stesi/website_animate"]
	path = stesi/website_animate
	url = git@github.com:stesi/website_animate.git
	branch = 14.0

[submodule "stesi/partner-contact"]
	path = stesi/partner-contact
	url = git@github.com:stesi/partner-contact.git
	branch = 14.0

[submodule "stesi/sythil_tech_support"]
	path = stesi/sythil_tech_support
	url = git@github.com:stesi/sythil_tech_support.git
	branch = 14.0

[submodule "stesi/website_axis_helpdesk"]
	path = stesi/website_axis_helpdesk
	url = git@github.com:stesi/website_axis_helpdesk.git
	branch = 14.0

[submodule "stesi/stesi_utilities"]
	path = stesi/stesi_utilities
	url = git@github.com:stesi/stesi_utilities.git
	branch = 16.0

[submodule "stesi/stesi_accounting"]
	path = stesi/stesi_accounting
	url = git@github.com:stesi/stesi_accounting.git
	branch = 16.0

[submodule "stesi/stesi_attendance_timesheet_improvements"]
	path = stesi/stesi_attendance_timesheet_improvements
	url = git@github.com:stesi/stesi_attendance_timesheet_improvements.git
	branch = 16.0

[submodule "stesi/stesi_sale_management"]
	path = stesi/stesi_sale_management
	url = git@github.com:stesi/stesi_sale_management.git
	branch = 16.0

[submodule "stesi/stesi_dynamic_snippet_filter"]
	path = stesi/stesi_dynamic_snippet_filter
	url = git@github.com:stesi/stesi_dynamic_snippet_filter.git
	branch = 14.0

[submodule "stesi/stesi_helpdesk"]
	path = stesi/stesi_helpdesk
	url = git@github.com:stesi/stesi_helpdesk.git
	branch = 16.0

[submodule "stesi/stesi_rest"]
	path = stesi/stesi_rest
	url = git@github.com:stesi/stesi_rest.git
	branch = 14.0

[submodule "stesi/attendance_rest"]
	path = stesi/attendance_rest
	url = git@github.com:stesi/attendance_rest.git
	branch = 14.0

[submodule "stesi/pragtech_odoo_hangout_meeting_integration"]
	path = stesi/pragtech_odoo_hangout_meeting_integration
	url = git@github.com:stesi/pragtech_odoo_hangout_meeting_integration.git
	branch = 14.0

[submodule "stesi/stesi_website"]
	path = stesi/stesi_website
	url = git@github.com:stesi/stesi_website.git
	branch = 14.0

[submodule "stesi/payable_time"]
	path = stesi/payable_time
	url = git@github.com:stesi/payable_time.git
	branch = 16.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 16.0


[submodule "OCA/hr"]
	path = OCA/hr
	url = git@github.com:OCA/hr.git
	branch = 16.0

[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 16.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 16.0

[submodule "ingegniamo/partner_extra_info"]
	path = ingegniamo/partner_extra_info
	url = git@github.com:ingegniamo/partner_extra_info.git
	branch = 14.0

[submodule "stesi/stesi_improvements"]
	path = stesi/stesi_improvements
	url = git@github.com:stesi/stesi_improvements.git
	branch = 16.0

[submodule "OCA/commission"]
	path = OCA/commission
	url = git@github.com:OCA/commission.git
	branch = 16.0

[submodule "ingegniamo/stesi_studio_customization"]
	path = ingegniamo/stesi_studio_customization
	url = git@github.com:ingegniamo/stesi_studio_customization.git
	branch = 16.0

[submodule "ingegniamo/ob_chatter_position"]
	path = ingegniamo/ob_chatter_position
	url = git@github.com:ingegniamo/ob_chatter_position.git
	branch = 14.0

[submodule "ingegniamo/hr_timesheet_gift_spread"]
	path = ingegniamo/hr_timesheet_gift_spread
	url = git@github.com:ingegniamo/hr_timesheet_gift_spread.git
	branch = 16.0

[submodule "ingegniamo/hr_timesheet_gift"]
	path = ingegniamo/hr_timesheet_gift
	url = git@github.com:ingegniamo/hr_timesheet_gift.git
	branch = 16.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 16.0

[submodule "ingegniamo/helpdesk_task_required"]
	path = ingegniamo/helpdesk_task_required
	url = git@github.com:ingegniamo/helpdesk_task_required.git
	branch = 16.0

[submodule "ingegniamo/dashboard_ninja"]
	path = ingegniamo/dashboard_ninja
	url = git@github.com:ingegniamo/dashboard_ninja.git
	branch = 14.0

[submodule "ingegniamo/stesi_task_show_gantt"]
	path = ingegniamo/stesi_task_show_gantt
	url = git@github.com:ingegniamo/stesi_task_show_gantt.git
	branch = 14.0

[submodule "ingegniamo/timesheet_tag"]
	path = ingegniamo/timesheet_tag
	url = git@github.com:ingegniamo/timesheet_tag.git
	branch = 16.0

[submodule "ingegniamo/project_sale_order_editable"]
	path = ingegniamo/project_sale_order_editable
	url = git@github.com:ingegniamo/project_sale_order_editable.git
	branch = 16.0

[submodule "ingegniamo/project_task_auto_assignment"]
	path = ingegniamo/project_task_auto_assignment
	url = git@github.com:ingegniamo/project_task_auto_assignment.git
	branch = 16.0

[submodule "OCA/crm"]
	path = OCA/crm
	url = git@github.com:OCA/crm.git
	branch = 16.0

[submodule "ingegniamo/l10n_fatturapa_document_type_fix"]
	path = ingegniamo/l10n_fatturapa_document_type_fix
	url = git@github.com:ingegniamo/l10n_fatturapa_document_type_fix.git
	branch = 14.0

[submodule "ingegniamo/hr_stesi_sheet"]
	path = ingegniamo/hr_stesi_sheet
	url = git@github.com:ingegniamo/hr_stesi_sheet.git
	branch = 16.0

[submodule "ingegniamo/crm_phonecall"]
	path = ingegniamo/crm_phonecall
	url = git@github.com:ingegniamo/crm_phonecall.git

[submodule "ingegniamo/chatter_position_right"]
	path = ingegniamo/chatter_position_right
	url = git@github.com:ingegniamo/chatter_position_right.git
	branch = 16.0

[submodule "ingegniamo/odoo_16_workaround"]
	path = ingegniamo/odoo_16_workaround
	url = git@github.com:ingegniamo/odoo_16_workaround.git
	branch = 16.0
[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url = git@github.com:OCA/l10n-italy
	branch = 16.0

[submodule "ingegniamo/toggle_developer_mode"]
	path = ingegniamo/toggle_developer_mode
	url = git@github.com:ingegniamo/toggle_developer_mode.git
	branch = 16.0

[submodule "ingegniamo/hr_stesi_sheet_project_timesheet_holidays"]
	path = ingegniamo/hr_stesi_sheet_project_timesheet_holidays
	url = git@github.com:ingegniamo/hr_stesi_sheet_project_timesheet_holidays.git
	branch = 16.0

[submodule "ingegniamo/l10n_it_edi"]
	path = ingegniamo/l10n_it_edi
	url = git@github.com:ingegniamo/l10n_it_edi.git
	branch = 16.0

[submodule "ingegniamo/timesheet_sheet_expected_hours"]
	path = ingegniamo/timesheet_sheet_expected_hours
	url = git@github.com:ingegniamo/timesheet_sheet_expected_hours.git
	branch = 16.0

[submodule "ingegniamo/report_dynamic_content"]
	path = ingegniamo/report_dynamic_content
	url = git@github.com:ingegniamo/report_dynamic_content.git
	branch = 16.0

[submodule "ingegniamo/sale_project_sale_order_items"]
	path = ingegniamo/sale_project_sale_order_items
	url = git@github.com:ingegniamo/sale_project_sale_order_items.git
	branch = 16.0

[submodule "ingegniamo/report_dynamic_content_sale"]
	path = ingegniamo/report_dynamic_content_sale
	url = git@github.com:ingegniamo/report_dynamic_content_sale.git
	branch = 16.0

[submodule "ingegniamo/timesheet_payable_time"]
	path = ingegniamo/timesheet_payable_time
	url = git@github.com:ingegniamo/timesheet_payable_time.git
	branch = 16.0
[submodule "ingegniamo/whatsapp_redirect"]
	path = ingegniamo/whatsapp_redirect
	url = git@github.com:ingegniamo/whatsapp_redirect.git
	branch = 16.0

[submodule "ingegniamo/project_task_concat_project"]
	path = ingegniamo/project_task_concat_project
	url = git@github.com:ingegniamo/project_task_concat_project.git
	branch = 16.0

[submodule "ingegniamo/project_sequence_category"]
	path = ingegniamo/project_sequence_category
	url = git@github.com:ingegniamo/project_sequence_category.git
	branch = 16.0

[submodule "OCA/timesheet"]
	path = OCA/timesheet
	url = git@github.com:OCA/timesheet.git
	branch = 16.0

[submodule "ingegniamo/odoo_screen_recording"]
	path = ingegniamo/odoo_screen_recording
	url = git@github.com:ingegniamo/odoo_screen_recording.git
	branch = 16.0

[submodule "stesi/odoo_email_cc_bcc"]
	path = stesi/odoo_email_cc_bcc
	url = git@github.com:stesi/odoo_email_cc_bcc.git
	branch = 16.0

[submodule "ingegniamo/website_crm_partner_assign_m2m"]
	path = ingegniamo/website_crm_partner_assign_m2m
	url = git@github.com:ingegniamo/website_crm_partner_assign_m2m.git
	branch = 16.0

[submodule "ingegniamo/website_sale_temp_fix_pricelist"]
	path = ingegniamo/website_sale_temp_fix_pricelist
	url = git@github.com:ingegniamo/website_sale_temp_fix_pricelist.git
	branch = 16.0

[submodule "ingegniamo/project_manager_on_task"]
	path = ingegniamo/project_manager_on_task
	url = git@github.com:ingegniamo/project_manager_on_task.git
	branch = 16.0

[submodule "ingegniamo/timesheet_total_for_employee_on_line"]
	path = ingegniamo/timesheet_total_for_employee_on_line
	url = git@github.com:ingegniamo/timesheet_total_for_employee_on_line.git
	branch = 16.0

[submodule "ingegniamo/mrp_progress_track"]
	path = ingegniamo/mrp_progress_track
	url = git@github.com:ingegniamo/mrp_progress_track.git
	branch = 16.0

[submodule "ingegniamo/crm_sale_project_end_customer"]
	path = ingegniamo/crm_sale_project_end_customer
	url = git@github.com:ingegniamo/crm_sale_project_end_customer.git
	branch = 16.0
